@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 18px;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-container {
    margin: 20px auto 20px auto;
    border-radius: 2px;
    max-width: 600px;
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor-inner {
    background: #fff;
    position: relative;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-text-strikethrough {
    text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
}

.editor-text-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
}

.editor-link {
    color: rgb(33, 111, 219);
    text-decoration: underline;
}

.tree-view-output {
    display: block;
    background: #222;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    white-space: pre-wrap;
    margin: 1px auto 10px auto;
    max-height: 250px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    line-height: 14px;
}

.editor-code {
    background-color: rgb(240, 242, 245);
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
}

.editor-code:before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
}

.editor-code:after {
    content: attr(data-highlight-language);
    top: 0;
    right: 3px;
    padding: 3px;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
    color: slategray;
}

.editor-tokenPunctuation {
    color: #999;
}

.editor-tokenProperty {
    color: #905;
}

.editor-tokenSelector {
    color: #690;
}

.editor-tokenOperator {
    color: #9a6e3a;
}

.editor-tokenAttr {
    color: #07a;
}

.editor-tokenVariable {
    color: #e90;
}

.editor-tokenFunction {
    color: #dd4a68;
}

.editor-paragraph {
    margin: 0;
    margin-bottom: 12px;
    position: relative;
}

.editor-paragraph:last-child {
    margin-bottom: 0;
}

.editor-heading-h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 12px;
}

.editor-heading-h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 12px;
}

.editor-quote {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: rgb(101, 103, 107);
    border-left-color: rgb(206, 208, 212);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
}

.editor-list-ol {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: decimal;
}

.editor-list-ul {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    list-style-type: disc;
}

.editor-listitem {
    margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
    list-style-type: none;
}

pre::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

pre::-webkit-scrollbar-thumb {
    background: #999;
}

.ImageNode__contentEditable {
    min-height: 20px;
    resize: none;
    cursor: text;
    caret-color: rgb(5, 5, 5);
    display: block;
    position: relative;
    tab-size: 1;
    outline: 0px;
    user-select: text;
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}

.ImageNode__placeholder {
    font-size: 12px;
    color: #888;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    bottom: 3px;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
}


.Placeholder__root {
    font-size: 15px;
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 10px;
    left: 10px;
    right: 10px;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    pointer-events: none;
}


span.editor-image {
    cursor: default;
    position: relative;
    user-select: none;
}

img {
    max-width: 100%;
}

img.focused {
    outline: 2px solid rgb(60, 132, 244);
    user-select: none;
}

.editor-image .image-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.image-caption-container .tree-view-output {
    margin: 0;
    border-radius: 0;
}

.image-caption-container {
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    min-width: 100px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.2s all ease-out;
    display: none;
}
.image-caption-container.show {
    display: block;
}

.image-caption-container p {
    text-align: center;
}

.image-caption-button {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 100px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.image-caption-button:hover {
    background-color: rgba(60, 132, 244, 0.5);
}


.ContentEditable__root hr {
    margin: 30px 0;
}




.link-editor {
    position: absolute;
    z-index: 10;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: opacity 0.5s;
  }
  
  .link-editor .button {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 2px;
  }
  
  .link-editor .button.hovered {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #eee;
  }
  
  .link-editor .button i,
  .actions i {
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: -0.25em;
  }

  
.link-editor .button.active,
.toolbar .button.active {
  background-color: rgb(223, 232, 250);
}

.link-editor .link-input {
  display: block;
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  font-size: 16px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor div.link-edit {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-editor div.link-edit svg {
    width: 20px;
    height: 20px;
    vertical-align: -0.25em;
}

.link-editor .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

select.font-size,
select.font-family {
  cursor: pointer;
}

.link-editor .font-size-wrapper,
.link-editor .font-family-wrapper {
  display: flex;
  margin: 0 4px;
}

.link-editor select {
  padding: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}

/* Link Preview */


@keyframes glimmer-animation {
    0% {
      background: #f9f9f9;
    }
    .50% {
      background: #eeeeee;
    }
    .100% {
      background: #f9f9f9;
    }
  }
  
  .LinkPreview__container {
    padding-bottom: 12px;
  }
  
  .LinkPreview__imageWrapper {
    text-align: center;
  }
  
  .LinkPreview__image {
    max-width: 100%;
    max-height: 250px;
    margin: auto;
  }
  
  .LinkPreview__title {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
  }
  
  .LinkPreview__description {
    color: #999;
    font-size: 90%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
  }
  
  .LinkPreview__domain {
    color: #999;
    font-size: 90%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 4px;
  }
  
  .LinkPreview__glimmer {
    background: #f9f9f9;
    border-radius: 8px;
    height: 18px;
    margin-bottom: 8px;
    margin-left: 12px;
    margin-right: 12px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: glimmer-animation;
  }


  /* Floating toolbar */
  

.floating-text-format-popup {
    display: flex;
    margin-bottom: 1px;
    background: #fff;
    padding: 4px;
    vertical-align: middle;
    position: absolute;
    z-index: 10;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: opacity 0.5s;
    height: 35px;
  }
  
  .floating-text-format-popup button.popup-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  .floating-text-format-popup button.popup-item:disabled {
    cursor: not-allowed;
  }
  
  .floating-text-format-popup button.popup-item.spaced {
    margin-right: 2px;
  }
  
  .floating-text-format-popup button.popup-item i.format {
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: 2px;
    vertical-align: -0.25em;
    display: flex;
    opacity: 0.6;
  }
  
  .floating-text-format-popup button.popup-item:disabled i.format {
    opacity: 0.2;
  }
  
  .floating-text-format-popup button.popup-item.active {
    background-color: rgba(223, 232, 250, 0.3);
  }
  
  .floating-text-format-popup button.popup-item.active i {
    opacity: 1;
  }
  
  .floating-text-format-popup .popup-item:hover:not([disabled]) {
    background-color: #eee;
  }
  
  .floating-text-format-popup select.popup-item {
    border: 0;
    display: flex;
    background: none;
    border-radius: 10px;
    padding: 8px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 70px;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
  }
  
  .floating-text-format-popup select.code-language {
    text-transform: capitalize;
    width: 130px;
  }
  
  .floating-text-format-popup .popup-item .text {
    display: flex;
    line-height: 20px;
    width: 200px;
    vertical-align: middle;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    width: 70px;
    overflow: hidden;
    height: 20px;
    text-align: left;
  }
  
  .floating-text-format-popup .popup-item .icon {
    display: flex;
    width: 20px;
    height: 20px;
    user-select: none;
    margin-right: 8px;
    line-height: 16px;
    background-size: contain;
  }
  
  .floating-text-format-popup i.chevron-down {
    margin-top: 3px;
    width: 16px;
    height: 16px;
    display: flex;
    user-select: none;
  }
  
  .floating-text-format-popup i.chevron-down.inside {
    width: 16px;
    height: 16px;
    display: flex;
    margin-left: -25px;
    margin-top: 11px;
    margin-right: 10px;
    pointer-events: none;
  }
  
  .floating-text-format-popup .divider {
    width: 1px;
    background-color: #eee;
    margin: 0 4px;
  }